@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-override :where(p, li, h1, h2, h3, h4, h5, h6, span, div) {
  color: rgb(24 24 27 / 1) !important; 
}
.dark .prose-override :where(p, li, h1, h2, h3, h4, h5, h6, span, div) {
  color: rgb(250 250 250 / 1) !important;
}